.page-header {
  $block-name: &; // #{$block-name}__

  padding: 20px 0;

  background-color: $gray-darkest;
  background-image: $gray-gradient;

  @media (max-width: $screen-md) {
    padding: 15px 0;
  }

  @media (max-width: $screen-sm) {
    padding: 10px 0;
  }

  &__title {
    margin: 0;

    font-size: px-rem(60px);
    line-height: 1;
    text-align: center;
    color: rgba(45, 45, 45, 1);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: -1px 0 $yellow, 0 1px $yellow, 1px 0 $yellow, 0 -1px $yellow;

    @media (max-width: $screen-md) {
      font-size: px-rem(50px);
    }

    @media (max-width: $screen-sm) {
      font-size: px-rem(40px);
      letter-spacing: 4px;
    }

    @media (max-width: $screen-xs) {
      font-size: px-rem(35px);
    }
  }

  &__title-inner {
    position: relative;

    display: inline-block;

    vertical-align: middle;

    &::before,
    &::after {
      content: attr(data-first);
      position: absolute;
      z-index: 5;
      left: 0;

      overflow: hidden;

      text-align: left;
      color: $yellow;
      text-shadow: none;

      animation-name: flicker;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &::before {
      content: attr(data-first);
      left: 0;

      animation-duration: 4s;
    }

    &::after {
      content: attr(data-second);
      left: 44.5%;

      animation-duration: 3s;
    }
  }
}
