extends ../base
include ../../app/components/page-header/page-header.pug
include ../../app/components/page-footer/page-footer.pug
include ../../app/components/social/social.pug
include ../../app/components/icon/icon.pug
include ../../app/components/preloader/preloader.pug
include ../../app/components/form/form.pug
include ../../app/components/field-text/field-text.pug
include ../../app/components/btn/btn.pug

block title
  | MovieSearch

block head
  link(rel='stylesheet' href='./css/preloader.css')

block svg-sprite
  //- div#svg-sprite(style='display: none;')

block header
  +page-header()
    .container
      h1.page-header__title
        span.page-header__title-inner(data-first='m' data-second='s') MovieSearch

block content
  main.page-main
    .container
      +form('search')(name='search-form')#search-form
        .form__inner
          +fieldset('', 'input')
            +field-text({
              attrs: {
                id: 'form-input',
                autocomplete: 'off',
                placeholder: 'Search movie'
              }
            })
            +btn('', 'clear')(type='button')#form-clear
              span.visually-hidden Clear text
              +icon('assets/img/sprite.svg', 'sprite-cross', '32', '32', 'cross')
          +btn('', 'keyboard use-keyboard-input')(type='button')
            span.visually-hidden Show keyboard
            +icon('assets/img/sprite.svg', 'sprite-keyboard', '36', '32', 'keyboard')
          +fieldset('', 'submit')
            +btn('Search', 'submit')(type='submit')#form-submit
      .message-box
        span.message-box__output
      include ../../app/components/swiper/swiper.pug

block footer
  +page-footer()
    .container
      .row
        .page-footer__info.col.col--lg-6
          a.page-footer__link(href='https://rs.school/', target='_blank') RS School 2020q1
        +social('footer page-footer__social col col--lg-6')
          +social-link('https://github.com/svensktutby/', 'gh', 'svensktutby')
            +icon('assets/img/sprite.svg', 'sprite-github-logo', '24', '24', 'gh social__icon')
block modal
  +preloader('', 'Loading')
