extends ../base
include ../../app/components/page-header/page-header.pug
include ../../app/components/page-footer/page-footer.pug
include ../../app/components/social/social.pug
include ../../app/components/icon/icon.pug
include ../../app/components/preloader/preloader.pug

block title
  | MovieSearch

block head

block svg-sprite
  div#svg-sprite(style='display: none;')

block header
  +page-header()
    .container
      h1.page-header__title
        span.page-header__title-inner(data-first='m' data-second='s') MovieSearch

block content
  main.page-main
    .container
      +preloader('page-main')
      include ../../app/components/swiper/swiper.pug

block footer
  +page-footer()
    .container
      .row
        p.page-footer__info.col.col--lg-6 RS School 2020q1
        +social('footer page-footer__social col col--lg-6')
          +social-link('https://github.com/svensktutby/', 'gh', 'svensktutby')
            +icon('assets/img/sprite.svg', 'sprite-github-logo', '24', '24', 'gh social__icon')
