extends ../base
block title
  | MovieSearch

block header
  .container
    h1.page-header__title
      span.page-header__title-inner(data-heading='i') MovieSearch

block content
  main.page-main
    .container
      p Content

block footer
  .container
    p Footer
