//- All mixins in this file should initiate with the name of the block (swiper)

//- Slider main container
.swiper-container
  //- Additional required wrapper
  .swiper-wrapper
    //- Slides
    - for (let i = 1; i <= 10; i++)
      .swiper-slide= `Slide ${i}`
  //- Add Arrows
  .swiper-button-prev
  .swiper-button-next
  //- Add Pagination
  .swiper-pagination
